extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Garima Sharma

        //- Feel free personalize the title below
        p.lead.text-light
          | From Mathematics to Programming.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
      h2 Summary of Qualifications
      br
      ul
        li Self-motivated, detail oriented and quick learner
        li Strong analytical abilities, problem solving analysis and creative thinker
        li Adaptable and flexible
        li Committed to professional and academic development
        li Languages: Punjabi, Hindi and English
        h2 Work Experience
        li Research Assistant(University of the Fraser Valley, Abbotsford, BC, Canada)
          | Worked on a research paper and produced new results from previously stated results. asically, comparing the powers of new tests with the powers of other tests to see whichtests 
          | performs better by using the simulation study. Used R programming language for descriptive/complex statistical analysis. Worked on the conversion of Quiz questions into standard format by usingExcel.
      
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li R
          li Javascript
          li HTML
          li C# 
          li R-shiny application
          li Latex 
          li Power BI
        h6 Contact Info

        //- Add your own contact info
        ul
          li 778-798-4223
          li sharma1996garima@email.com

        //- Add URLs to the hrefs below to link to your social media accounts.         
        a.button.expanded(href='https://www.linkedin.com/feed/') LinkedIn
        a.button.expanded(href='https://github.com/Gari1996/Gari1996.github.io') GitHub
        nav.grid-container.portfolio-breadcrumb
        a(href='/') ← Back 
  